<link href='@Url.Content("~/Content/CSS/msgBox.css")' rel="stylesheet" />
<div id="customAlert">
    <div id="msgAlertWrapper">
        <div id="msgAlertheader">
            @if ((DBTransactionStatus)ViewData["EditClientStatus"] == DBTransactionStatus.Success)
            {
                <img src="@Url.Content("~/Content/images/success_icon.png")" alt="successIcon" style="height:20px;" />
            }
            else
            {
                <img src="@Url.Content("~/Content/Images/fail_icon.jpg")" alt="failIcon" style="height:20px;" />
            }
            <h5>@Html.Display(ViewData["EditClientStatus"].ToString())</h5>
        </div>
        <div id="msgAlertContent">
            <p>
                @Html.Raw(ViewData["PopMessage"].ToString())
            </p>
            <br />
            <a class="bClose" href="#">OK</a>
        </div>
        <div id="msgAlertFooter">
            <span class="copyright">&copy; Copyright 2016 Hewlett Packard Enterprise Development Company, L.P. </span>
        </div>
    </div>
</div>
